<!doctype html>
<html lang="ru" data-color-mode="auto" data-light-theme="light" data-dark-theme="dark"  data-a11y-animated-images="system">
    <title>Расчёт погашения задолжности</title>
    <head>
        <meta name="viewport" content="width=device-width">
        <meta name="keywords" content="ипотека, кредит, расчёт, платёж в месяц, ипотечный калькулятор">
        <meta name="description" content="расчёт ежемесячного платежа по кредиту">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">
    </head>
    <div class="container pt-3 pb-3">
        {{!base}}
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/static/js/script.js"></script>

    <footer class="bg-body-tertiary text-center text-lg-start">
      <div class="text-center p-3" >
        <!--LiveInternet counter--><a href="https://www.liveinternet.ru/click"
        target="_blank"><img id="licnt005C" width="88" height="15" style="border:0"
        title="LiveInternet: показано число посетителей за сегодня"
        src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7"
        alt=""/></a><script>(function(d,s){d.getElementById("licnt005C").src=
        "https://counter.yadro.ru/hit?t26.11;r"+escape(d.referrer)+
        ((typeof(s)=="undefined")?"":";s"+s.width+"*"+s.height+"*"+
        (s.colorDepth?s.colorDepth:s.pixelDepth))+";u"+escape(d.URL)+
        ";h"+escape(d.title.substring(0,150))+";"+Math.random()})
        (document,screen)</script><!--/LiveInternet-->
      </div>
    </footer>
</html>
