% rebase('base.html')
    % if error:
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
    % end
        <div class="row">
          <div class="col-sm-6  pt-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Расчёт сроков по платежу</h5>
                    <form action="/" method="post">
                        <label for="summ" >Остаток: </label>
                        <input name="summ" type="text" class="form-control decimal" id="summ" value="{{summ}}" autocomplete="off" required="True"  />
                        <br />
                        <label for="percent">Процент:</label>
                        <input name="percent" type="text" class="form-control decimal" id="percent" value="{{percent}}" autocomplete="off" required="True" />
                        <br />
                        <label for="pay">Платёж:</label>
                        <input name="pay" type="text" class="form-control decimal" id="pay" autocomplete="off" required="True" /> <br />
                        <label for="d_summ">Доп. сумма в конце:</label>
                        <input name="d_summ" type="text" class="form-control decimal" id="d_summ" autocomplete="off" /> <br />
                        <input value="Рассчитать" type="submit" class="btn btn-primary"/>
                    </form>
                </div>
            </div>
          </div>
          <div class="col-sm-6 pt-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Расчёт платежа к сроку</h5>
                    <form action="/paytodate" method="post">
                        <label for="summ_t_d" >Остаток: </label>
                        <input name="summ_t_d" type="text" class="form-control decimal" id="summ_t_d" value="{{summ}}" autocomplete="off" required="True"  />
                        <br />
                        <label for="percent_t_d">Процент:</label>
                        <input name="percent_t_d" type="text" class="form-control decimal" id="percent_t_d" value="{{percent}}" autocomplete="off" required="True" />
                        <br />
         
                        <div class="group_dropdown pb-3">
                           <select size="1" name="month" class="form-control">
                            % for num, month in month_list.items():
                            %if num == cur_month:
                            <option value="{{num}}" selected>{{month}}</option>
                            %else:
                            <option value="{{num}}">{{month}}</option>
                            %end
                            % end
                           </select>
                           <br />
                           <select size="1" name="year" class="form-control">
                            <option disabled>Выберите Год</option>
                            % for year in years_list:
                            <option value="{{year}}">{{year}}</option>
                            % end
                           </select>   
                        </div>

                        <input value="Рассчитать" type="submit" class="btn btn-primary"/>
                    </form>
                </div>
            </div>
          </div>
        </div>
